body{
    padding: 2rem;
}

#lista-de-tarefas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    margin: 2rem auto;
}

.acoes {
    display: flex;
    justify-content: space-around;
}

p img{
    width: 7rem;
    gap: 2rem;
}

progress{
    height: 0.8rem !important;
}

button{
    border: none !important;
    border-image: none !important;
}

.framed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
}

.botoes{
    display: flex;
    justify-content: space-around;
}