body{
    padding: 2rem;
}

#lista-de-tarefas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    margin: 2rem auto;
}

.acoes {
    display: flex;
    justify-content: space-around;
}

p img{
    width: 7rem;
    gap: 2rem;
}

progress{
    height: 0.8rem !important;
}

button{
    border: none !important;
    border-image: none !important;
}

.framed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
}

.botoes{
    display: flex;
    justify-content: space-around;
}

.sugestao {
    cursor: pointer;
    padding: 5px;
}

.sugestao:hover {
    background-color: #f0f0f0;
}

#sugestoes {
    width: calc(100% - 2px);
    max-height: 10rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1000;
    position: relative;
    margin-top: 1px;
}

